body{
  font-size: 2em;
}

.value-lvl{
  text-align: center;
}

th{
  text-align: center;
}



.table-padding{
  padding-left: 75px;
  padding-right: 75px;
}


.img-center{
  padding-top: 20px;
  margin: auto;
  width: 100%;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  body{
    font-size: 1em;
  }


.table-padding{
  padding-left: 0px;
  padding-right: 0px;
  }
}
