.value-lvl{
  text-align: center;
}

th{
  text-align: center;
}


.table-padding{
  padding-left: 50px;
  padding-right: 50px;
}

.img-center{
  margin: auto;
  width: 100%;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

.table-padding{
  padding-left: 0px;
  padding-right: 0px;
  }
}
