body{
  font-size: 2em;
}

.value-lvl{
  text-align: center;
}

th{
  text-align: center;
}

button a{
  color: white;
  text-decoration: none;
}

.first-col{
  text-align: center;
  width: 25%;
}

.last-col{
  width: 25%;
}


.button-group{
 margin:0px auto;
  padding-bottom: 50px;
  width: 175px;

}

.table-padding{
  padding-left: 100px;
  padding-right: 100px;
}


.img-center{
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
  width: 150px;

}

@media only screen and (min-device-width : 320px) and (max-device-width : 756px) {

  body{
    font-size: 12px;
  }

  .img-center{
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    width: 75px;

  }

  .button-group{
   margin:0px auto;
    padding-bottom: 50px;
    width: 85px;

  }



.table-padding{
  padding-left: 0px;
  padding-right: 0px;
  }

  .first-col{
    text-align: center;
    width: 0;
  }

  .last-col{
    width: 0;
  }
}
